/* Use monospace font while edit area */
div.CodeMirror-code {
    font-family:monospace;
}

/* Bold links should be bold */
strong a.external-link, strong a.internal-link {
    font-weight:bold;
}

/* Bold inline code should be bold */
strong > code {
    font-weight:bold !important;
}
