footer.footer(class=['is-' + appconfig.theme.footer], ref='footer')
  span
    if pageData && pageData.meta && pageData.meta.title
      = '[' + pageData.meta.title + '](/' + pageData.meta.path + ')'
    else
      = ''
  span
    = appconfig.title
  span
    = t('footer.poweredby') + ' '
    a(href='https://github.com/Requarks/wiki-v1') Wiki.js Stable v1.x
    | .
  ul
    li: a(href='/')= t('footer.home')
    li: a(href='#root')= t('footer.top')
